html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

@font-face {
    font-family: consolas;
    src: url('../public/fonts/CONSOLA.ttf');
}

a {
    color: inherit;
    /* text-decoration: none; */
}

* {
    box-sizing: border-box;
}

h1,
h2 {
    text-align: center;
}

.margin-padding {
    margin: 10px;
    padding: 10px;
}

.rounded {
    border-radius: 10px;
}

.dont-drag-image {}

.basic-button {
    margin: 10px;
    padding: 10px;
    background-color: white;
    border: black 2px solid;
    border-radius: 5px;
    cursor: pointer;
}

.glass {
    padding: 10px;
    margin: 10px;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.95);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.center-items {
    align-items: center;
}

.center-text {
    text-align: center;
}

.select-wrapper {
    z-index: 100;
    max-width: 100%;
    position: relative;
}

.game-board-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.parallax-wrapper {
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    margin: 0px;
    bottom: auto;
    overflow-x: clip;
}

.finished-wrapper {
    z-index: 100000000;
    background-color: rgba(255, 255, 255, 0.7);
    position: fixed;
    display: flex;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inner-finished-wrapper {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid rgb(255, 255, 255);
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    /* border-color: rgb(232, 62, 6) transparent transparent transparent; */
}

.lds-ring-red-color div {
    border-color: rgb(249, 31, 56) transparent transparent transparent;
}

.lds-ring-blue-color div {
    border-color: rgb(96, 41, 247) transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.chaintrix-heading {
    text-align: center;
    padding: 5px;
    margin: 5px;
    font-weight: bold;
    font-size: xx-large;
    background: -webkit-linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgb(0, 0, 0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bc-select-generic {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
}

.bc-select-nbc {
    background: linear-gradient(to right, rgb(252, 199, 168), rgb(250, 248, 240));
}

.bc-select-solana {
    background: linear-gradient(to right, #dbc3f8, #c0e4d5);
}

.bc-select-hedera {
    background: linear-gradient(to right, #8a8a8a, #dedede);
}

.history-link-text {
    /* color: white;
    background: rgba(0, 0, 0, 0.85); */
    color: black;
    background: white;
    border: black 1px solid;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.85);
    border-radius: 10px;
    margin-top: -100px;
    margin-bottom: 100px;
    padding: 10px;
    font-size: xx-large;
}

.history-closed-game-view-wrapper {
    background-color: #dedede;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
}

.history-winner-div {
    border: black 5px solid;
}

.consolas {
    font-family: consolas;
}